@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto, Helvetica, sans-serif;
}
/* Default nastavenia pisma a tlacidiel */
h1 {
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 1 !important;
    letter-spacing: -1.5px;
    margin-left: -8px;
}
h2 {
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    line-height: 1 !important;
    letter-spacing: -1.5px;
    margin-left: -2px;
}
h3 {
    font-size: 2.5rem;
    margin: 0;
    line-height: 1 !important;
    letter-spacing: -1.5px;
    margin-left: -2px;
}
p {
    margin: 0;
}
a {
    color: var(--bs-navbar-active-color);
    text-decoration: none;
}
.button {
    padding: 15px 60px;
    border: 1px solid rgb(92, 92, 92);
    background-color: transparent;
    font-weight: 600;
    color: rgb(78, 78, 78);
    transition: background-color 0.2s, color 0.2s;
}
.button:hover {
    background-color: black;
    border-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}
.button1 {
    padding: 15px 60px;
    border: 1px solid rgb(138, 138, 138);
    background-color: transparent;
    font-weight: 600;
    color: rgb(167, 167, 167);
    transition: background-color 0.2s, color 0.2s;
}
.button1:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: rgb(19, 19, 19);
    transition: background-color 0.3s, color 0.3s;
}


/* Uprava navbaru */

.navbar {
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
}
.navbar-brand img {
    height: 60px;
}
.navbar-brand {
    margin-right: 50px;
}
.nav-link {
    font-size: 1.2rem;
    transition: font-weight 0.3s;
}

.nav-link:hover {
    font-weight: bold;
    transition: font-weight 0.3s;
}

.navbar-toggler {
    border: 0;
}

  .navbar-toggler:focus {
    box-shadow: 0;
    outline: 0 !important;
    text-decoration: none;
  }

/* Uvodny obrazok */

.headPageImage {
    background-image: url('https://bluesky.cdn.imgeng.in/cogstock-images/65acd2eb-cace-41f4-af8d-a7076eef17da.jpg?migeng=/w_1200/');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: calc(100vh - 86px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    user-select: none;
    position: relative;
}
.headPageImage h1 {
    margin-top: 15px;
}

/* Obsah odseky */

.modelLink {
    display: flex;
}
.columSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 70%;
}
#models {
    width: 30%;
}

.race {
    display: flex;
    
}


#imgr {
    order: 1;
    width: 70%;
}
#race2 {
    order: 2;
    width: 30%;
    padding: 0 20px;
}
.news div h1 {
    font-size: 7rem;
}
.newsList {
    display: flex;
}
.newsList p {
    text-align: justify;
}
.newsList  > div {
    width: 70%;
}
#butNews {
    width: 30%;
}

footer {
    background-color: rgb(26, 26, 26);
    color: white;
}
footer p {
    margin: 40px 0;
    font-weight: 300;
}
#readall {
    display: none;
}

/* Responzivny dizajn */

@media screen and (max-width: 1400px) {
    .modelLink {
        display: block;
    }
    .race {
        display: flex;
        flex-direction: column;
    }
    #imgr {
        order: 1;
        width: 100%;
    }
    #race2 {
        order: -1;
        width: 100%;
        margin: 50px 0;
    }
    
    
    .columSide {
        width: 100%;
    }
    #models {
        margin: 50px 0;
        padding: 0 20px;
        width: 100%;
    }
}
@media screen and (max-width: 790px) {
    .headPageImage h1 {
        font-size: 5rem;
    }
    #models svg {
        display: none;
    }
    #models h2, .race h2 {
        font-size: 3.5rem;
    }
    .news {
        width: 100%;
        padding: 0;
    }
    .news div h1 {
        font-size: 3rem;
    }
    .news div h3 {
        font-size: 2rem;
    }
    .news > div {
        padding: 0 20px;
    }
    .newsList {
        display: block;
    }
    .newsList > div {
        width: 100%;
    }
    #butNews {
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    #newsCon p, #newsCon .button{
        display: none;
    }
    #newsCon h3 {
        margin-top: 15px;
    }
    #readall {
        display: block;
    }
}
@media screen and (max-width: 540px) {
    .headPageImage h1 {
        font-size: 4rem;
    }
    .headPageImage h3 {
        font-size: 2rem;
    }
}