.headPageImage {
    background-image: none;
    
}

#imgr {
    order: 1;
    width: 60%;
    background-color: rgb(19, 19, 19);
    padding: 20px 0 0 0;
}
#imgr img {
    box-shadow: inset 0 0 5em 1em rgb(19, 19, 19);
}
#race2 {
    order: 2;
    width: 40%;
    padding: 0 20px;
}


.carbg {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}
.carbg div {
    color: white;
    
}

#race2 div a {
    filter: brightness(80%);
    transition: transform 0.2s, filter 0.2s;
    padding-top: 12px;
    padding-bottom: 12px;
}
#race2 div a:hover {
    filter: brightness(100%);
    transform: scale(110%);
    transition: transform 0.2s, filter 0.2s;
}


@media screen and (max-width: 1440px) {
    #imgr {
        order: 1;
        width: 100%;
    }
    #race2 {
        order: -1;
        width: 100%;
        margin: 50px 0;
    }
}
@media screen and (max-width: 790px) {
    #imgr {
        height: 500px;
    }
    .race a, #race2 a {
        text-align:  center !important; 
    }
}